<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="manifest" href="/manifest.json"/>
  <link rel="stylesheet" type="text/css" href="/theme/index.css"/>

  <title><%= meta('title', '') %></title>
  <meta name="description" content="<%= meta('description', '') %>"/>

  <style>
    .side-content {
      background-color:<%= o('sidebar', 'color','#007BFF') %> !important;
      <% if ( o('sidebar', 'img', false) ) { %>background-image:url(<%= o('sidebar', 'img', 'none') %>);background-size:cover; background-repeat:no-repeat;<% } %>
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="main-content">
      <h1 style="color:<%= o('h1', 'color','inherit') %>"><%= v('h1','') %></h1>
      <h2 style="color:<%= o('h2', 'color','inherit') %>"><%= v('h2','') %></h2>
      <% for(let p of children('p') ){ %>
        <p><%- markdown(p.value, {plain:true}) %></p>
      <% } %>
      <div class="buttons">
        <% for(let btn of children('btn') ){ %>
          <a href="<%= btn.options.href %>" class="<%= btn.options.style %>">
            <% if (btn.options.icon) { %><span class="_icon"><%= btn.options.icon %></span><% } %>
            <%= btn.value %>
          </a>
        <% } %>
      </div>
    </div>
    <div class="side-content"></div>
  </div>

  <script src="/theme/index.js"></script>
</body>

</html>
