body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 10vw;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.side-content {
  flex-basis: 25%;
  background-color:#007BFF;
}

@media screen and (max-width: 480px){
  .side-content {
    flex-basis:0;
  }
}

a {
  text-decoration:none;
}

h1 {
  font-size: 3em;
}

p {
  line-height:1.5em;
}

._buttons a {
  display:inline-block; line-height:1.5; color:#212529; margin-right:1em; margin-top:1.5em;
  text-align:center; text-decoration:none; vertical-align:middle;
  cursor:pointer; -webkit-user-select:none; -moz-user-select:none; user-select:none;
  background-color: transparent; border: 1px solid black;
  padding: 6px 1.5rem; border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

._buttons a:hover {
  background-color:#eee;
}

._buttons a.primary {
  background:#007bff; border-color:#007bff; color:white;
}
